* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.side_bar {
  width: 300px;
  background-color: #253141;
  .side_header {
    background-color: #253141;
    height: 100px;
    display: flex;
    align-items: center;
    &__box {
      height: 20px;
      background-color: #333333;
      width: 260px;
      margin: 0 20px;
      display : flex;
      justify-content : space-between;
      line-height: 16px;
      &__name {
        color: #ffffff;
      }
      &__items {
        display : flex;
        width: 60px;
        li {
          margin-left: 5px;
          a {
            color: #ffffff;
            float: right;
          }
        }
      }
    }
  }
  .groups {
    background-color: #2f3e51;
    height: calc(100vh - 100px);
    padding: 20px;
    box-sizing: border-box;
    .group_list {
      margin-bottom: 40px;
      color: #ffffff;
      margin: 40px;
      text-decoration: none;
      &__name {
        font-size: 15px;
        margin-bottom: 5px;
      }
      &__message {
        font-size: 11px;
      }
    }
  }
}

.chat_main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  .main_header {
    background-color: #ffffff;
    height: 100px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    &__left_box {
      margin-top: 35px;
      &__list_name {
        font-size: 20px;
        color: #333333;
        margin-bottom: 15px;
      }
      &__members {
        display: flex;
        color: #999999;
        font-size: 12px;
      }
    }
    &__edit_btn {
      text-decoration: none;
      font-size: 16px;
      color: #38aef0;
      line-height: 40px;
      height: 40px;
      padding: 0 20px;
      margin-top: 30px;
      border: solid 1px #38aef0;
      position: absolute;
      right: 40px;
    }
  }
  .main_forms {
    height: calc(100vh - 190px);
    background-color: #fafafa;
    padding: 35px 40px;
    &__message {
      padding-bottom: 46px;
      &__box {
        display: flex;
        margin-bottom: 12px;
        &__name {
          color: #333333;
          font-size: 16px;
        }
        &__date {
        color: #999999;
        font-size: 12px;
        }
      }
      &__text {
        font-size: 14px;
        color: #434A54;
      }
    }
  }
  .form {
    height: 90px;
    padding: 20px 40px;
    background-color: #d2d2d2;
    .new_message {
      display: flex;
      &__text {
        height: 50px;
        width: 100%;
        padding: 0 40px 0 10px;
        color: #434a54;
        border-style: none;
      }
      .message_box {
        position: relative;
        display: flex;
        &__image {
          width: 100%;
          font-size: 1.3rem;
          position: absolute;
          top: 10px;
          right: 30px;
          .hidden {
          visibility: hidden;
          }
        }
      }
      .submit_btn {
        background-color: #38aef0;
        width: 100px;
        height: 50px;
        padding: 0 30px;
        margin-left: 15px;
        color: white;
      }
    }
  }
}